<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INICIAR SECIÓN</title>
</head>
<body>
    <header>
        <p>Iniciar Seción</p>
    </header>
    <main>
        <div>
            <label for="usuario">Usuario:</label>
            <input id="usuario" type="text" placeholder="usuarioejemplo123">
        </div>
        <div>
            <label for="contraseña">Contraseña:</label>
            <input id="contraseña" type="password" placeholder="***********">
        </div>
        <button>Ingresar</button>
    </main>
    <footer>
        
    </footer>
</body>
</html>