<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>REGISTRO</title>
</head>
<body>
    <div class="contenedor">
        <header class="cabecera">
        <h3 class="">Registrarse</h3>
    </header>
    <main class="cuerpo cuerpo-registro">
        <div class="registro-item">
            <label for="nombres">Nombres:</label>
            <input class="entrada" id="nombres" type="text" placeholder="Nombre Ejemplo" required>
        </div>
        <div  class="registro-item">
            <label for="apellidos">Apellidos:</label>
            <input class="entrada" id="apellidos" type="text" placeholder="Apellido Ejemplo" required>
        </div>
        <div  class="registro-item">
            <label for="cedula">Cedula:</label>
            <input class="entrada" id="cedula" type="number" placeholder="**********" required>
        </div>
        <div  class="registro-item">
            <label for="contraseña">Contraseña:</label>
            <input class="entrada" id="contraseña" type="password" placeholder="**********" required>
        </div>
        <div  class="registro-item">
            <label for="telefono">Número de teléfono:</label>
            <input class="entrada" id="telefono" type="number" placeholder="**********" required>
        </div>
        <div  class="registro-item">
            <label for="direccion">Dirección:</label>
            <input class="entrada" id="direccion" type="text" placeholder="Mi dirección" required>
        </div>
        <div  class="registro-item">
            <label for="cargo">Cargo:</label>
            <select class="entrada" name="" id="cargo" required>
                <option value="" disabled selected>Seleccione su cargo</option>
                <option value="Funcionario">Funcionario</option>
                <option value="Docente">Docente</option>
              </select>
        </div>
        <div class="container-btn-registro">
            <button class="button btn-registro" onclick="validarRegistro()">Registrarse</button>
        </div>
        
    </main>
    <footer class="pie">
        <span class=""
          >© 2022
          <a href="#" target="_blank" >Actas Unicordoba™</a>.
          All Rights Reserved.
        </span>
      </footer>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../controller/registro.controller.js"></script>
</body>
</html>